<h1>New Topics</h1>
<%= form_for @topic do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control', placeholder: "Bookmark URL" %>
	<%= f.submit "Save", class: 'btn btn-success' %>
	<%= link_to "Back", topics_path, class: "btn btn-info" %>
<% end %>
